.sky {
    background-color: rgba(255, 255, 255, 0);
}

.floor {
    background-image: url("assets/images/floor.png");
}

.char {
    background-image: url("assets/images/chara_up.png");
}

.char2 {
    background-image: url("assets/images/chara_down.png");

}

.finish {
    background-image: url("assets/images/floor_finish.png");
}

.finish2 {
    background-image: url("assets/images/flag_down.png");

}

.finish3 {
    background-image: url("assets/images/flag_up.png");

}

.up {
    background-image: url("assets/images/raven.2.png");
}

.mid {
    background-image: url("assets/images/Wild54151.png");
}

.down {
    background-color: rgba(255, 255, 255, 0);
}

.hover {
    opacity: 0.7;
}

.terra {
    background-image: url("assets/images/icon_shovel_terra.png");
}

.speed {
    background-image: url("assets/images/Speed_1.png");
}

.multi {
    background-image: url("assets/images/x2.png");
}

.shield {
    background-color: gray;
}

.score {
    background-color: purple;
}

:root {
    --main-number-column: 80;
}

/* ━━━━━━━━━━ DARK MODE  ━━━━━━━━━━ */

/* ━━━━━━━━━━ WHITE MODE  ━━━━━━━━━━ */
#container {
    text-shadow: 0px 0px, 0px 0px 100px rgb(0, 0, 0);
    height: 600px;
    width: 1200px;
    margin-left: 1015px;
    display: grid;
    overflow: auto;
    grid-template-columns: repeat(var(--main-number-column), 100px);
}

/* editeur */
#screen {
    display: flex;
    flex-flow: column nowrap;
    height: 600px;
    width: 300px;
    background-image: url("assets/images/old_paper.png");
    margin-bottom: 10px;
    padding-left: 4px;
    align-items: center;
}

section {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    column-gap: 0px;
}

#form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    row-gap: 20px;
}

label,
legend,
.recapText {
    margin-left: 25px;
    font-family: sans-serif;
    font-weight: 600;
    color: black;
}

#radioLevel {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-content: flex-start;
}

h1 {
    text-align: center;
}

.validateButton {
    align-self: center;
    display: flex;
    flex-flow: column nowrap;
    justify-self: center;
    align-content: flex-start;
    row-gap: 10px;
}

.divBack {
    padding: 10px;
    align-self: center;
    margin: 2px;
}

.divEdit {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: nowrap;
    row-gap: 5px;
    align-items: flex-start;
}

.contentButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    row-gap: 10px;
    /* background-color: white; */
    padding: 10px;
    align-self: center;
    margin: 2px;
}

#recap {
    width: 800px;
    height: 512px;
    background-color: MidnightBlue;
    padding-left: 4px;
}

input {
    margin-right: 12px;
}