body,html{
    margin: 0;
    height: 100%;
}

body{
    display: grid;
}

#game_screen{
    margin: auto;
    text-align: center;
}

canvas{
    max-width: 100%;
    background-color: gray;
}

#preload{
    display: none;
}